body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:00838f;
  
}

/* @font-face{font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')} */


h1{
  color:#006064;  
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0 15px 15px 15px;
}
/*#page-content-wrapper .container-fluid{
  padding-right: 0;
  padding-left: 0;
}*/
#menu-toggle{
  color: #787272;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  margin-top: 0;
  position: absolute;
  z-index: 9;
  padding: 10px 17px;
  border-right: 1px solid #d4d1d1;
}
.top-title{
  background-color:#e9e6e6;
  margin-bottom:30px; 
  
}
.top-title .fa-bars{
  font-size: 18px;
}
.top-title h3 {
    color: #00897b;
    margin-top: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
    padding-left: 60px;
    

}
.login-screen h1{
  margin-bottom:40px;
  font-size:24px;
}
.login .form-control {    
    /* height: 104px; */
    padding: 6px 12px;
    font-size: 16px;    
    color: #00838f;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 rgba(0,0,0,.075);
    box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-bottom: 1px solid #006064;
}
.btn-link, .btn-link:hover{
  color:#006064;
}
.btn-block + .btn-block {
    margin-top: 15px;
}
.btn{
  border-radius:0;
  margin-top:15px;
}
.btn-default{
  background-color:#00838f;
  border-color: #00838f;
  color: #fff;
}
.btn-default:hover {
    color: #fff;
    background-color: #006064;
    border-color: #006064;
}
.panel {
    margin-bottom: 20px;
    background-color: #00bcd4;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.media-body {
    padding: 15px 10px 15px 0;
  color:#fff;
}
.media-body p{
   font-size: 16px;
}
.hospital-name {
  text-transform: uppercase;
  margin-top:15px;
  
}
.location { margin-top:-10px;}
.media-heading {  
    font-size: 20px;
   /*  font-weight: 900; */
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.panel-body {
    padding: 0;
}
.panel-default {
    border-color: #00bcd4;
    margin-bottom:30px;
    width: 100%;
    float: left;
}
.fa-user-circle {
    font-size: 80px !important;
    color: #fff;
    padding: 15px 10px 0 15px;
  /* margin-top:15px; */
}
.btn{
  font-size:20px;
  /* border-radius: 10px; */
  margin-bottom:15px;
}
.btn-left{
    background: #00acc1;
    border: #00acc1;
}
.btn-middle{
    background: #00acc1;
    border: #00acc1;
}
.btn-right{
    background: #0097a7;
    border: #0097a7;
}
.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 18x;
    line-height: 1.42857143;
    color: #555;
    background-color: #b2ebf2;
    background-image: none;
    border: 1px solid #b2ebf2;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* .btn-submit{
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
} */
.add-doc .col-xs-8{
  padding-right:0;
  padding-left:0;
}
.add-doctor{
  background-color:#0097a7;
  min-height: 175px;
  padding-right: 0;
  padding-left: 0;
  padding-top: 56px;
  float: left;
  width: 25%;
}
.add-doctor a{
  font-size: 14px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:#fff;
  text-decoration: none;
  line-height:24px;

}
.enroll{
  background-color:#00bcd4;
  color:#fff;
  padding:15px;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding-top: 20px;
  float: left;
  
}
.enroll h4, .cases h4, .followup h4{
  font-size: 20px;
  /* font-weight: 900; */
  color:#fff;
  line-height: 6px;
}
.enroll p, .cases p, .followup  p{
  font-size: 20px;
  color:#fff;
   line-height: 20px;
}
.no-text { font-size:45px;}
.cases{
  background-color:#0097a7;
  color:#fff;
  padding:15px;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding-top: 20px;
  float: left;
}
.followup{
  width: 100%;
  height: 200px;
  background-color: #00bcd4;
  margin-top: 40px;
  padding-top: 20px;
}
.text-area {
    width: 100%;
}
/**/
.rest-pass { font-size:14px; color:#006064; color:#006064; text-decoration:underline;}
.menu-title h3 { font-size:18px; padding-bottom: 10px;    position: relative;    top: 3px;}
.fa-chat {  background-image:url(../img/chat-img.png); width:284px; height:156px; background-repeat:no-repeat;  }
.bg-img { background-image:url(../img/bgimage.jpg); width:100%; background-repeat:no-repeat; }
.fa-chat h4 {   font-size: 57px;
    line-height: 40px;
    padding-top: 21px;}

span.email {
    font-size: 18px;
    font-weight: 800;
    color: #00bcd4;
}

span.time {
    float: left;
    padding-left: 6px;
    font-size: 14px;
}

span.app-date {
    font-size: 20px;
}

span.glyphicon.glyphicon-envelope.pull-middle {
    padding: 11px;
    border-radius: 56px;
    border: 2px solid #737070;
    font-size: 14px;
    margin: -12px 11px 0 -2px;
    color: #737070;
}

span.glyphicon.glyphicon-earphone.pull-middle {
    padding: 11px;
    float: left;
    font-size: 14px;
    border: 2px solid #737070;
    border-radius: 53px;
    margin: 4px 9px 10px 0px;
    color: #737070;
}

span.phone,
span.local {
    line-height: 39px;
    font-size: 18px;
}

span.glyphicon.glyphicon-map-marker.pull-middle {
    padding: 11px;
    border-radius: 56px;
    border: 2px solid #737070;
    font-size: 14px;
    margin: 0px 11px 10px -50px;
    float: left;
    color: #737070;
}

i.glyphicon.glyphicon-calendar {
    font-size: 30px;
    padding: 9px;
    float: left;
}

i.glyphicon.glyphicon-time {
    font-size: 30px;
    float: left;
    margin-top: 5px;
}

.control-add input {
    width: 86% !important;
    padding: 5px 0;
    float: left !important;
}

.control-add button,
.control-add button .add-more {
    margin-top: 0px;
    border-radius: 0;
}

/* new style */

fieldset {width: 100%;}
.login-screen {width: 100%;}
.row {width: auto;}
.add-doc {width: 100%; float: left;}
.doctor-details {width: 75%; min-height: 175px;}
.followup-box {margin: auto;}
.comment-area {width: 100%; float: left; margin-top: 25px;}
.comment-history-container {width: 100%; float: left;margin-top: 15px;}
.comment-history-box {
  width: 100%; 
  float: left; 
  padding:0 10px 0 10px; 
  margin-bottom: 15px;
  border: 1px solid #ccc; 
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.55);
  -moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.55);
  box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.55);

}
.comment-history-box h4 {font-size: 14px; color: #333; text-align: left; line-height: 18px; padding-bottom: 10px;border-bottom: 1px solid #ccc;}
.comment-date {font-size: 13px; font-style: italic; color: #990000; text-align: right;}
.drugs-input-container {width: 100%; float: left;padding-top: 25px;margin-bottom: 20px}
.drug-input {display: inline-block; width: 85%; vertical-align: middle;margin-right: 2%;}
.drug-add-icon {display: inline-block; width: 10%; vertical-align: middle;}
input.drug-input-box {border: 1px solid #ccc !important; width: 100%;padding: 0 10px;}
.fa-1-plus {font-size: 30px !important; color: green}
.btn-add-notes {width: 100%;}

.drug-list-available-container {
  width: 100%; float: left;
  border: 1px solid #ccc;padding: 10px;
}
.drug-list-available-container table {width: 100%;}
.drug-list-available-container table tr th {font-weight: bold; color: #990000;}
.drug-list-available-container table tr td:last-child {text-align: center;}
.status-circle-green {font-size: 15px; color: green;}
.status-circle-red {font-size: 15px; color: red;}

.add-doctor-container {width: 100%; padding-top: 15px;}
.add-doctor-name {padding: 0 10px 0 10px !important; margin-bottom: 10px !important;}

.add-doctors-infobox {width: 100%; border: 1px solid #ccc; padding: 5px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; margin-bottom: 15px;}



