<ion-view title="Alex Alen">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <div id="wrapper">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row media col-lg-12">
                    <div class="col-sm-11 pull-middle">
                        <br>
                        <br>
                        <p>
                            <span class="glyphicon glyphicon-envelope pull-middle "></span>
                            <span class="email"> alexalen@dm.com</span>
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-earphone pull-middle"></span>
                            <span class="phone"> 555 555 5555</span>
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-map-marker pull-middle"></span>
                            <span class="local"> Location</span>
                        </p>
                    </div>
                </div>
                <div class="btn-group btn-group-justified ">
                    <a href="# " class="btn btn-default btn-left ">
                        <i class="glyphicon glyphicon-calendar" aria-hidden="true"></i>
                        <span class="app-date">February <br>16 </span>
                    </a>
                    <a href="# " class="btn btn-default btn-right ">
                        <i class="glyphicon glyphicon-time" aria-hidden="true"></i>
                        <span class="time">From<br>
                            20:00
                        </span>
                        <span class="time">To<br>
                            20:30
                        </span>
                    </a>
                </div>
                <br>
                <div class="row media col-lg-12">
                    <textarea class="text-area" rows="4" placeholder = "Notes"></textarea>
                </div>

                <div class="form-group ">
                    <div>
                        <a href="#">
                            <button type="submit " class="btn btn-default btn-lg btn-block">
                                Submit
                            </button>
                        </a>
                    </div>
                </div>
                <div class="control-group control-add" id="fields">
                    <div class="controls" id="profs">
                        <form class="input-append" ng-submit="addDrug()">
                            <div id="field">
                                <input autocomplete="off" class="input pull-left" id="field1" 
                                    name="prof1" type="text" placeholder="Drug" 
                                    data-items="8" ng-model="drug_name"/>
                                <button class="btn add-more pull-right" 
                                    type="submit">
                                    +
                                </button>
                            </div>
                        </form>
                        <br>
                    </div>
                </div>
                <br>
                <br>
                <div>
                    <ion-list>
                      <ion-item ng-repeat="item in items">
                        {{item.name}}
                        <i class="glyphicon glyphicon-ok pull-middle"
                            aria-hidden="true"
                            ng-show="item.available">
                        </i>
                      </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>
    </div>
  </ion-content>
</ion-view>