<ion-view title="iPharmacy">
  <ion-content class="has-header">
    <div align = "center">
      <img src = "img/logo.png">
    </div>
    <br>
    <div class="list list-inset">
      <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user_name">
      </label>
      <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="password">
      </label>
    </div>
    <div align = "center">
      <button class="button button-positive" ng-click="isUserValid()">Login</button>
    </div>
  </ion-content>
</ion-view>