body{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:00838f;
  
}

/* @font-face{font-family:'Glyphicons Halflings';src:url(../fonts/glyphicons-halflings-regular.eot);src:url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')} */


h1{
  color:#006064;  
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0 15px 15px 15px;
}
/*#page-content-wrapper .container-fluid{
  padding-right: 0;
  padding-left: 0;
}*/
#menu-toggle{
  color: #787272;
  background-color: #e6e6e6;
  border-color: #e6e6e6;
  margin-top: 0;
  position: absolute;
  z-index: 9;
  padding: 10px 17px;
  border-right: 1px solid #d4d1d1;
}
.top-title{
  background-color:#e9e6e6;
  margin-bottom:30px; 
  
}
.top-title .fa-bars{
  font-size: 18px;
}
.top-title h3 {
    color: #00897b;
    margin-top: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
    padding-left: 60px;
    

}
.login-screen h1{
  margin-bottom:40px;
  font-size:24px;
}
.login .form-control {    
    /* height: 104px; */
    padding: 6px 12px;
    font-size: 16px;    
    color: #00838f;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 rgba(0,0,0,.075);
    box-shadow: inset 0 0 0 rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border-bottom: 1px solid #006064;
}
.btn-link, .btn-link:hover{
  color:#006064;
}
.btn-block + .btn-block {
    margin-top: 15px;
}
.btn{
  border-radius:0;
  margin-top:15px;
}
.btn-default{
  background-color:#00838f;
  border-color: #00838f;
  color: #fff;
}
.btn-default:hover {
    color: #fff;
    background-color: #006064;
    border-color: #006064;
}
.panel {
    margin-bottom: 20px;
    background-color: #00bcd4;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}
.media-body {
    padding: 15px 10px 15px 0;
  color:#fff;
}
.media-body p{
   font-size: 16px;
}
.hospital-name {
  text-transform: uppercase;
  margin-top:15px;
  
}
.location { margin-top:-10px;}
.media-heading {  
    font-size: 20px;
   /*  font-weight: 900; */
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.panel-body {
    padding: 0;
}
.panel-default {
    border-color: #00bcd4;
  margin-bottom:30px;
}
.fa-user-circle {
    font-size: 80px !important;
    color: #fff;
    padding: 15px 10px 0 15px;
  /* margin-top:15px; */
}
.btn{
  font-size:20px;
  /* border-radius: 10px; */
  margin-bottom:15px;
}
.btn-left{
    background: #00acc1;
    border: #00acc1;
}
.btn-middle{
    background: #00acc1;
    border: #00acc1;
}
.btn-right{
    background: #0097a7;
    border: #0097a7;
}
.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 18x;
    line-height: 1.42857143;
    color: #555;
    background-color: #b2ebf2;
    background-image: none;
    border: 1px solid #b2ebf2;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* .btn-submit{
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
} */
.add-doc .col-xs-8{
  padding-right:0;
  padding-left:0;
}
.add-doctor{
  background-color:#0097a7;
  height: 152px;
  padding-right: 0;
  padding-left: 0;
  padding-top: 56px;
}
.add-doctor a{
  font-size: 20px;
  font-weight: bold;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color:#fff;
  text-decoration: none;
  line-height:24px;

}
.enroll{
  background-color:#00bcd4;
  color:#fff;
  padding:15px;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding-top: 20px;
  
}
.enroll h4, .cases h4, .followup h4{
  font-size: 20px;
  /* font-weight: 900; */
  color:#fff;
  line-height: 6px;
}
.enroll p, .cases p, .followup  p{
  font-size: 20px;
  color:#fff;
   line-height: 20px;
}
.no-text { font-size:45px;}
.cases{
  background-color:#0097a7;
  color:#fff;
  padding:15px;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  padding-top: 20px;
}
.followup{
  height: 200px;
  background-color: #00bcd4;
  margin-top: 40px;
  padding-top: 20px;
}
/**/
.rest-pass { font-size:14px; color:#006064; color:#006064; text-decoration:underline;}
.menu-title h3 { font-size:18px; padding-bottom: 10px;    position: relative;    top: 3px;}
.fa-chat {  background-image:url(../img/chat-img.png); width:284px; height:156px; background-repeat:no-repeat;  }
.bg-img { background-image:url(../img/bgimage.jpg); width:100%; background-repeat:no-repeat; }
.fa-chat h4 {   font-size: 57px;
    line-height: 40px;
    padding-top: 21px;}



